.landmark{
    margin:10px ;
    padding: 5px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #7e142a;
}
.landmark-info{
    display: flex;
    flex-direction: column;

}
