.profile-frame{
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
}
.profile-name{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    
}
.avatar>img{

    background-color: #d4d4d4;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    border-radius: 13px;
}

.user-name{
    font-size: 24px;
}

.friends{
    height:calc(100% - 220px);
}
.friends-box{
    height: calc(100% - 50px);
    overflow: auto;  
}   
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #D9D9D9; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #737479; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.add-friend-button{
    
    width: 150px;
    height: 53px;
    border-radius: 13px;
    background-color: #d9d9d9;
    margin-left: auto;
    margin-right: 10px;
    text-align: center;
    color: #000;
    font-size: 16px;
}

.friend-add{
    padding-top:15px;
}

.user-name{
    width: 163px;
    height: 66px;
    margin: 0;
    color:#000000;
    font-size: 20px;
    align-self: center;
    font-weight:500;
}
.avatar-user{
    border-radius: 13px;
}
.user-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #7e142a;
}

.achievements{
    height: auto;
    overflow-y: auto;
}

.achievement{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 2px solid #7e142a;
    margin: 10px;
    padding-bottom: 10px;
}

.achievement-description{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.achievement-name{
    font-size: 20px;
}
.achievement-logo{
    border: 2px solid #7e142a;
}



