#map {
    width: 400px;
    height: 300px;
    position: absolute;
}
body, html {
     margin:0;
    padding:0;
}

#toggler {
    position: absolute;
    z-index:100
}

.maxMap {
    width: 100% !important;
    height: 100% !important;
}
.interface {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    
    padding: 1em;
    box-sizing: border-box;
  }
  
