body{
    text-align: left;
    color: #726767;
    font-family: Inter;
    font-size: 12px;
}

.search-block{
    width: 370px;
    height: 54.8px;
    border-radius: 15px;
    display: flex;
    background-color: #f6f6f6;
    margin-top:19px;
    margin-left:100px;
}

.title{
    width:230px;
    height:55px;
    padding-left:20px;
    padding-top:7px;
}

.loop{
    padding-top:12.4px;
    padding-left:39px;
}

.close{
    padding-top:12px;
    padding-left:2px;
}

.vertical-line{
    border-right: 1px solid  #726767;
    width: 1px;
    height: 30px;
    margin-top:12px;
    margin-left:9px;
}

.landmarks{
    margin-left:92px;
    margin-top:17px;
    padding:0;
    display: grid;
    grid-template-columns: 208px 1fr;
    grid-template-rows: 30px 30px 30px;
    row-gap: 10px;
    column-gap: 4px;
}

.landmark-name{
    margin:0;
    width: 190px;
    height: 25px;
}

.land-description{
    width: 208px;
    height: 46px;
}

.photo-landmark{
    margin-top:13px;
    grid-row: span 3;
    width: 166px;
    height: 110px;
}

.landmark-info{
    width: 208px;
    height: 46px;
}

.vertical-scroll-line{
    width: 7px;
    height: 100vh;
    background-color: #d9d9d9;
    position:absolute;
    margin-left:492px;
    top:92px;
}

.scroll{
    width: 9px;
    height: 244.8px;
    position:absolute;
    background-color: #737479;
    border-radius: 7px;
    right:1px;

}

.horizontal-line{
    background-color: #7e142a;
    margin-top:6px;
    width: 388px;
    height: 2px;
    margin-left:-10px
}

.menu-items{
    text-align: center;
    width:80px;
}
.info-list{
    display: flex;
    width: 433px;
    height: 50px;
    background-color: #d4d4d4;
    margin-left:67px;
    justify-content: space-between;
    align-items: center;
    margin-top:-15px;
}
